# 01. Importing libraries

In [1]:
import pandas as pd
import numpy as np
import os

# 02. Importing data

In [2]:
# Python shortcut - reusable path
path = r'C:\Users\thoma\OneDrive\Dokumente\data analytics\Data Project 4\06-2025 Instacart Basket Analysis'

In [3]:
path

'C:\\Users\\thoma\\OneDrive\\Dokumente\\data analytics\\Data Project 4\\06-2025 Instacart Basket Analysis'

In [4]:
# Importing the customer data set
df_customer_data_set = pd.read_csv(os.path.join(path, 'Data', 'Original Data', 'customers.csv'))

In [5]:
# Question 4. & 5. - data wrangling, quality and consistency checks
df_customer_data_set.shape

(206209, 10)

In [6]:
df_customer_data_set.head(30)

,user_id,First Name,Surnam,Gender,STATE,Age,date_joined,n_dependants,fam_status,income
0,26711,Deborah,Esquivel,Female,Missouri,48,1/1/2017,3,married,165665
1,33890,Patricia,Hart,Female,New Mexico,36,1/1/2017,0,single,59285
2,65803,Kenneth,Farley,Male,Idaho,35,1/1/2017,2,married,99568
3,125935,Michelle,Hicks,Female,Iowa,40,1/1/2017,0,single,42049
4,130797,Ann,Gilmore,Female,Maryland,26,1/1/2017,1,married,40374
5,133128,Cynthia,Noble,Female,Kentucky,43,1/1/2017,2,married,49643
6,152052,Chris,Walton,Male,Montana,20,1/1/2017,0,single,61746
7,168851,Joseph,Hickman,Male,South Carolina,30,1/1/2017,0,single,63712
8,69965,Jeremy,Vang,Male,Texas,47,1/1/2017,1,married,162432
9,82820,Shawn,Chung,Male,Virginia,26,1/1/2017,2,married,32072
10,26441,Gloria,Stafford,Female,Nevada,19,1/1/2017,2,living with parents and siblings,43443
11,33835,Roger,Casey,Male,Nebraska,45,1/1/2017,2,married,47988
12,75032,Cynthia,Mcdaniel,Female,Georgia,75,1/1/2017,1,married,57835
13,51,Stephanie,Jensen,Female,Wyoming,37,1/1/2017,1,married,71190
14,516,Peter,Hunt,Male,Colorado,51,1/1/2017,2,married,146559
15,6965,Brandon,Mata,Male,North Dakota,70,1/1/2017,0,divorced/widowed,100091
16,8794,Amy,Mack,Female,Nebraska,30,1/1/2017,3,married,57096
17,9944,Brian,Oneill,Male,Wisconsin,26,1/1/2017,1,married,91826
18,13313,Victor,Moss,Male,Alaska,31,1/1/2017,2,married,91111
19,17335,Patrick,Fowler,Male,Vermont,65,1/1/2017,1,married,34514
20,29864,Randy,Mills,Male,North Dakota,39,1/1/2017,1,married,44364
21,37744,Wanda,Salas,Female,Arkansas,77,1/1/2017,1,married,125977
22,50000,Sandra,Trejo,Female,Maine,64,1/1/2017,2,married,115489
23,55567,Martha,Hurst,Female,North Carolina,67,1/1/2017,2,married,48645
24,57549,Shawn,Moore,Male,Montana,72,1/1/2017,0,divorced/widowed,135302
25,60386,Wayne,Woodward,Male,Alaska,59,1/1/2017,2,married,136778
26,68032,Charles,Stevenson,Male,West Virginia,74,1/1/2017,2,married,34992
27,83910,Ruth,Rice,Female,Indiana,70,1/1/2017,1,married,165147
28,86936,Kimberly,Monroe,Female,Oregon,57,1/1/2017,3,married,44967
29,99199,Kimberly,Monroe,Female,Arkansas,80,1/1/2017,0,divorced/widowed,138075

In [7]:
# Renaming of column 'Surnam' to 'Surname'
df_customer_data_set.rename(columns = {'Surnam' : 'Surname'}, inplace = True)

In [8]:
# Checking the columns of the dataframe
df_customer_data_set.columns

Index(['user_id', 'First Name', 'Surname', 'Gender', 'STATE', 'Age',
       'date_joined', 'n_dependants', 'fam_status', 'income'],
      dtype='object')

In [9]:
# Checking the values within the 'fam_status' column
df_customer_data_set['fam_status'].value_counts(dropna = False)

fam_status
married                             144906
single                               33962
divorced/widowed                     17640
living with parents and siblings      9701
Name: count, dtype: int64

In [10]:
# Descriptive statistics
df_customer_data_set.describe()

             user_id            Age   n_dependants         income
count  206209.000000  206209.000000  206209.000000  206209.000000
mean   103105.000000      49.501646       1.499823   94632.852548
std     59527.555167      18.480962       1.118433   42473.786988
min         1.000000      18.000000       0.000000   25903.000000
25%     51553.000000      33.000000       0.000000   59874.000000
50%    103105.000000      49.000000       1.000000   93547.000000
75%    154657.000000      66.000000       3.000000  124244.000000
max    206209.000000      81.000000       3.000000  593901.000000

In [11]:
df_customer_data_set['user_id'].describe()

count    206209.000000
mean     103105.000000
std       59527.555167
min           1.000000
25%       51553.000000
50%      103105.000000
75%      154657.000000
max      206209.000000
Name: user_id, dtype: float64

In [12]:
# Checking for data types
df_customer_data_set.dtypes

user_id          int64
First Name      object
Surname         object
Gender          object
STATE           object
Age              int64
date_joined     object
n_dependants     int64
fam_status      object
income           int64
dtype: object

In [13]:
# Looking for mixed-type columns again
for col in df_customer_data_set.columns.tolist():
    weird = (df_customer_data_set[[col]].map(type) != df_customer_data_set[[col]].iloc[0].apply(type)).any(axis=1)
    if len(df_customer_data_set[weird]) > 0:
        print(col)

First Name

In [14]:
# Looking for missing values
df_customer_data_set['First Name'].value_counts(dropna = False)

First Name
NaN        11259
Marilyn     2213
Barbara     2154
Todd        2113
Jeremy      2104
           ...
Merry        197
Eugene       197
Garry        191
Ned          186
David        186
Name: count, Length: 208, dtype: int64

In [15]:
# Creating a subset consisting of the non-missing values
df_customer_data_set_2 = df_customer_data_set[df_customer_data_set['First Name'].isnull() == False]

In [16]:
# Looking for the missing values again
df_customer_data_set_2['First Name'].value_counts(dropna = False)

First Name
Marilyn    2213
Barbara    2154
Todd       2113
Jeremy     2104
Cynthia    1951
           ...
Merry       197
Eugene      197
Garry       191
Ned         186
David       186
Name: count, Length: 207, dtype: int64

In [17]:
# Looking for mixed-type columns again
for col in df_customer_data_set_2.columns.tolist():
    weird = (df_customer_data_set_2[[col]].map(type) != df_customer_data_set_2[[col]].iloc[0].apply(type)).any(axis=1)
    if len(df_customer_data_set_2[weird]) > 0:
        print(col)

In [18]:
# Looking for missing values within the entire dataframe
df_customer_data_set_2.isnull().sum()

user_id         0
First Name      0
Surname         0
Gender          0
STATE           0
Age             0
date_joined     0
n_dependants    0
fam_status      0
income          0
dtype: int64

In [19]:
# Looking for duplicates within the dataframe
df_customer_data_set_2_dups = df_customer_data_set_2[df_customer_data_set_2.duplicated()]

In [20]:
df_customer_data_set_2_dups

Empty DataFrame
Columns: [user_id, First Name, Surname, Gender, STATE, Age, date_joined, n_dependants, fam_status, income]
Index: []

In [21]:
df_customer_data_set_2.shape

(194950, 10)

In [22]:
df_customer_data_set_2['user_id'].describe()

count    194950.000000
mean     103140.014947
std       59527.705810
min           1.000000
25%       51597.250000
50%      103091.500000
75%      154700.750000
max      206209.000000
Name: user_id, dtype: float64

In [23]:
# Question 6. - importing and merging data
# Importing dataframe
df_ords_prods_merge_cleaned = pd.read_pickle(os.path.join(path, 'Data', 'Prepared Data', 'Pr_ords_prods_merge_cleaned_Ex4.9.pkl'))

In [24]:
df_ords_prods_merge_cleaned.shape

(30356957, 21)

In [25]:
df_ords_prods_merge_cleaned.head()

,order_id,user_id,order_number,order_dow,order_hour_of_day,days_since_prior_order,product_id,add_to_cart_order,reordered,_merge1,...,aisle_id,department_id,prices,_merge,Busiest days,busiest_period_of_day,max_order,loyalty_flag,average_price,order_frequency
0,3139998.0,138.0,28.0,6.0,11.0,3.0,1,5.0,0.0,both,...,61.0,19.0,5.8,both,Regularly busy,Most orders,32.0,Regular customer,Low spender,Frequent customer
1,1977647.0,138.0,30.0,6.0,17.0,20.0,1,1.0,1.0,both,...,61.0,19.0,5.8,both,Regularly busy,Average orders,32.0,Regular customer,Low spender,Regular customer
2,389851.0,709.0,2.0,0.0,21.0,6.0,1,20.0,0.0,both,...,61.0,19.0,5.8,both,Two busiest days,Average orders,5.0,New customer,Low spender,Frequent customer
4,1813452.0,764.0,3.0,4.0,17.0,9.0,1,11.0,1.0,both,...,61.0,19.0,5.8,both,Two slowest days,Average orders,3.0,New customer,Low spender,Frequent customer
5,1701441.0,777.0,16.0,1.0,7.0,26.0,1,7.0,0.0,both,...,61.0,19.0,5.8,both,Two busiest days,Average orders,26.0,Regular customer,Low spender,Non-frequent customer

In [26]:
# Renaming of column '_merge' to '_merge2'
df_ords_prods_merge_cleaned.rename(columns = {'_merge' : '_merge2'}, inplace = True)

In [27]:
df_ords_prods_merge_cleaned.columns

Index(['order_id', 'user_id', 'order_number', 'order_dow', 'order_hour_of_day',
       'days_since_prior_order', 'product_id', 'add_to_cart_order',
       'reordered', '_merge1', 'product_name', 'aisle_id', 'department_id',
       'prices', '_merge2', 'Busiest days', 'busiest_period_of_day',
       'max_order', 'loyalty_flag', 'average_price', 'order_frequency'],
      dtype='object')

In [28]:
# Merging the dataframes including the argument indicator = True
df_merged = df_ords_prods_merge_cleaned.merge(df_customer_data_set_2, on = 'user_id', indicator = True)

In [29]:
df_merged.shape

(28693568, 31)

In [30]:
df_merged.columns

Index(['order_id', 'user_id', 'order_number', 'order_dow', 'order_hour_of_day',
       'days_since_prior_order', 'product_id', 'add_to_cart_order',
       'reordered', '_merge1', 'product_name', 'aisle_id', 'department_id',
       'prices', '_merge2', 'Busiest days', 'busiest_period_of_day',
       'max_order', 'loyalty_flag', 'average_price', 'order_frequency',
       'First Name', 'Surname', 'Gender', 'STATE', 'Age', 'date_joined',
       'n_dependants', 'fam_status', 'income', '_merge'],
      dtype='object')

In [31]:
# Checking the frequency of the '_merge' flag
df_merged['_merge'].value_counts(dropna = False)

_merge
both          28693568
left_only            0
right_only           0
Name: count, dtype: int64

In [32]:
# Merging the dataframes including the argument how = 'outer'
df_merged = df_ords_prods_merge_cleaned.merge(df_customer_data_set_2, on = 'user_id', indicator = True, how = 'outer')

In [33]:
df_merged.shape

(30356957, 31)

In [34]:
# Checking the frequency of the '_merge' flag including argument how = 'outer'
df_merged['_merge'].value_counts(dropna = False)

_merge
both          28693568
left_only      1663389
right_only           0
Name: count, dtype: int64

# No full match

In [35]:
# Question 8. - exporting the merged dataframe
df_merged.to_pickle(os.path.join(path, 'Data', 'Prepared Data', 'Pr_merged_Task4.9(1).pkl'))