# 01. Importing libraries

In [9]:
# Import libraries
import pandas as pd
import numpy as np
import os

# 02. Importing data

In [10]:
# Python shortcut - reusable path
path = r'C:\Users\thoma\OneDrive\Dokumente\data analytics\Data Project 4\06-2025 Instacart Basket Analysis'

In [11]:
path

'C:\\Users\\thoma\\OneDrive\\Dokumente\\data analytics\\Data Project 4\\06-2025 Instacart Basket Analysis'

In [12]:
# Omitting the 'eval_set' column using vars_list
vars_list = ['order_id', 'user_id', 'order_number', 'order_dow', 'order_hour_of_day', 'days_since_prior_order']

In [13]:
vars_list

['order_id',
 'user_id',
 'order_number',
 'order_dow',
 'order_hour_of_day',
 'days_since_prior_order']

In [14]:
# Importing 'Pr_orders_cleaned.csv'
df_ords = pd.read_csv(os.path.join(path, 'Data','Prepared Data', 'Pr_orders_cleaned.csv'), usecols = vars_list)

In [15]:
df_ords.head()

,order_id,user_id,order_number,order_dow,order_hour_of_day,days_since_prior_order
0,2398795,1,2,3,7,15.0
1,473747,1,3,3,12,21.0
2,2254736,1,4,4,7,29.0
3,431534,1,5,4,15,28.0
4,3367565,1,6,2,7,19.0

In [16]:
# Importing 'orders_products_prior.csv'
df_ords_prior = pd.read_csv(os.path.join(path, 'Data', 'Original Data', 'orders_products_prior.csv'), index_col = False)

In [17]:
df_ords_prior.head()

   order_id  product_id  add_to_cart_order  reordered
0         2       33120                  1          1
1         2       28985                  2          1
2         2        9327                  3          0
3         2       45918                  4          1
4         2       30035                  5          0

In [18]:
df_ords_prior.shape

(32434489, 4)

In [19]:
df_ords_prior['order_id'].describe()

count    3.243449e+07
mean     1.710749e+06
std      9.873007e+05
min      2.000000e+00
25%      8.559430e+05
50%      1.711048e+06
75%      2.565514e+06
max      3.421083e+06
Name: order_id, dtype: float64

In [20]:
df_ords_prior['order_id'].value_counts(dropna = False)

order_id
1564244    145
790903     137
61355      127
2970392    121
2069920    116
          ...
118997       1
118995       1
1119343      1
870412       1
2530309      1
Name: count, Length: 3214874, dtype: int64

In [21]:
df_ords_prior_dups = df_ords_prior[df_ords_prior.duplicated()]

In [22]:
df_ords.shape

(3214874, 6)

In [23]:
# Question 1. Merging 'df_ords' with 'df_ords_prior'
df_merged_large = df_ords.merge(df_ords_prior, on = 'order_id', indicator = True)

In [24]:
df_merged_large.head()

,order_id,user_id,order_number,order_dow,order_hour_of_day,days_since_prior_order,product_id,add_to_cart_order,reordered,_merge
0,2398795,1,2,3,7,15.0,196,1,1,both
1,2398795,1,2,3,7,15.0,10258,2,0,both
2,2398795,1,2,3,7,15.0,12427,3,1,both
3,2398795,1,2,3,7,15.0,13176,4,0,both
4,2398795,1,2,3,7,15.0,26088,5,1,both

In [25]:
df_merged_large['_merge'].value_counts()

_merge
both          30356421
left_only            0
right_only           0
Name: count, dtype: int64

In [26]:
# Question 2. Export 'df_merged_large'
df_merged_large.to_pickle(os.path.join(path, 'Data','Prepared Data', 'orders_products_combined.pkl'))

In [27]:
df_merged_large.shape

(30356421, 10)

In [28]:
df_merged_large['order_id'].describe()

count    3.035642e+07
mean     1.710737e+06
std      9.872461e+05
min      2.000000e+00
25%      8.561350e+05
50%      1.710892e+06
75%      2.565520e+06
max      3.421083e+06
Name: order_id, dtype: float64