# 01. Importing libraries

In [1]:
# Import libraries
import pandas as pd
import numpy as np
import os

# 02. Importing & merging data

In [2]:
# Python shortcut - reusable path
path = r'C:\Users\thoma\OneDrive\Dokumente\data analytics\Data Project 4\06-2025 Instacart Basket Analysis'

In [3]:
path

'C:\\Users\\thoma\\OneDrive\\Dokumente\\data analytics\\Data Project 4\\06-2025 Instacart Basket Analysis'

In [4]:
# Omitting the 'eval_set' column using vars_list
vars_list = ['product_id', 'product_name', 'aisle_id', 'department_id', 'prices']

In [5]:
vars_list

['product_id', 'product_name', 'aisle_id', 'department_id', 'prices']

In [6]:
# Importing 'df_Pr_products_cleaned' using 'vars_list'
df_Pr_products_cleaned = pd.read_csv(os.path.join(path, 'Data','Prepared Data', 'Pr_products_cleaned.csv'), usecols = vars_list)

In [7]:
df_Pr_products_cleaned.head()

,product_id,product_name,aisle_id,department_id,prices
0,1,Chocolate Sandwich Cookies,61,19,5.8
1,2,All-Seasons Salt,104,13,9.3
2,3,Robust Golden Unsweetened Oolong Tea,94,7,4.5
3,4,Smart Ones Classic Favorites Mini Rigatoni Wit...,38,1,10.5
4,5,Green Chile Anytime Sauce,5,13,4.3

In [8]:
# Dimensions/shape of 'df_Pr_products_cleaned'
df_Pr_products_cleaned.shape

(49672, 5)

In [9]:
# Importing 'orders_products_combined' in pickle format
df_orders_products_combined = pd.read_pickle(os.path.join(path, 'Data', 'Prepared Data', 'orders_products_combined.pkl'))

In [10]:
df_orders_products_combined.head()

,order_id,user_id,order_number,order_dow,order_hour_of_day,days_since_prior_order,product_id,add_to_cart_order,reordered,_merge
0,2398795,1,2,3,7,15.0,196,1,1,both
1,2398795,1,2,3,7,15.0,10258,2,0,both
2,2398795,1,2,3,7,15.0,12427,3,1,both
3,2398795,1,2,3,7,15.0,13176,4,0,both
4,2398795,1,2,3,7,15.0,26088,5,1,both

In [11]:
df_orders_products_combined.shape

(30356421, 10)

In [12]:
# Renaming '_merge' to '_merge1' of 'df_orders_products_combined' due to consecutive merges
df_orders_products_combined_merge1 = df_orders_products_combined.rename(columns = {'_merge' : '_merge1'})

In [13]:
# Column names
df_orders_products_combined_merge1.columns

Index(['order_id', 'user_id', 'order_number', 'order_dow', 'order_hour_of_day',
       'days_since_prior_order', 'product_id', 'add_to_cart_order',
       'reordered', '_merge1'],
      dtype='object')

In [14]:
# Merging 'df_orders_products_combined_merge1' with 'df_Pr_products_cleaned' on 'product_id'
df_merged_products = df_orders_products_combined_merge1.merge(df_Pr_products_cleaned, on = 'product_id', indicator = True)

In [15]:
# Column names reveal '_merge1' & '_merge' columns for distinguishing and actually enabling the second consecutive merge
df_merged_products.columns

Index(['order_id', 'user_id', 'order_number', 'order_dow', 'order_hour_of_day',
       'days_since_prior_order', 'product_id', 'add_to_cart_order',
       'reordered', '_merge1', 'product_name', 'aisle_id', 'department_id',
       'prices', '_merge'],
      dtype='object')

In [16]:
df_merged_products.head()

,order_id,user_id,order_number,order_dow,order_hour_of_day,days_since_prior_order,product_id,add_to_cart_order,reordered,_merge1,product_name,aisle_id,department_id,prices,_merge
0,2398795,1,2,3,7,15.0,196,1,1,both,Soda,77,7,9.0,both
1,2398795,1,2,3,7,15.0,10258,2,0,both,Pistachios,117,19,3.0,both
2,2398795,1,2,3,7,15.0,12427,3,1,both,Original Beef Jerky,23,19,4.4,both
3,2398795,1,2,3,7,15.0,13176,4,0,both,Bag of Organic Bananas,24,4,10.3,both
4,2398795,1,2,3,7,15.0,26088,5,1,both,Aged White Cheddar Popcorn,23,19,4.7,both

In [17]:
df_merged_products.shape

(30328763, 15)

In [18]:
# Merging 'df_orders_products_combined_merge1' with 'df_Pr_products_cleaned' on 'product_id' INCLUDING the argument how = 'outer'
df_merged_products = df_orders_products_combined_merge1.merge(df_Pr_products_cleaned, on = 'product_id', indicator = True, how = 'outer')

In [19]:
df_merged_products.shape

(30356999, 15)

In [20]:
df_merged_products['_merge'].value_counts()

_merge
both          30328763
left_only        28194
right_only          42
Name: count, dtype: int64

In [21]:
# The result is NO full match as pandas fills in information about each product for every “order_id” in the 'df_Pr_products_cleaned' dataframe

In [22]:
df_merged_products.to_pickle(os.path.join(path, 'Data','Prepared Data', 'ords_prods_merge.pkl'))